<div class="main">
<header>
  <div class="top-home-banner">
    <img class="logo" src="./assets/logo.jpg" (click)="openPage('home')"/>
  </div>
  <div class="top-menu-bar">
    <div class="top-menu-item" (click)="openPage('home')">Home</div>
    <div class="top-menu-item" (click)="openPage('about')">About Us</div>
    <div class="top-menu-item" (click)="openPage('categories')">Categories</div>
    <div class="top-menu-item" (click)="openPage('contact')">Contact Us</div>
  </div>
</header>

<router-outlet></router-outlet>

<footer>
  <div class="footer-first-section">
    <div class="contact-section">
      <div class="footer-contact">Contact Us</div>
      <div class="footer-contact-det">tel: 01/111222 | 03/333444</div>
      <div class="footer-contact-det">email: crania@hotmail.com</div>
      <div class="footer-contact-det">address: zalka, street street, xyz</div>
    </div>
    <div class="menu-footer">
      <div class="footer-menu-item" (click)="openPage('home')">Home</div>
      <div class="footer-menu-item" (click)="openPage('about')">About Us</div>
      <div class="footer-menu-item" (click)="openPage('categories')">Categories</div>
      <div class="footer-menu-item" (click)="openPage('contact')">Contact Us</div>
    </div>
  </div>
  <div class="social-media">
    <img src="../assets/ic-facebook.png" class="btn-social" />
    <img src="../assets/ic-instagram.png" class="btn-social" />
  </div>
</footer>
</div>